<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Spline Showcase - 3D Interactive Scenes</title>
		
		<!-- Meta description for SEO -->
		<meta name="description" content="Explore a showcase of interactive 3D scenes created with Astro and Spline. Immerse yourself in a smooth, animated user experience with dynamic visual effects." />

		<!-- Keywords for SEO -->
		<meta name="keywords" content="Astro, Spline, 3D scenes, interactive design, web development, animations, dynamic visuals, frontend, design showcase" />

		<!-- Open Graph meta tags for better social media integration -->
		<meta property="og:title" content="Astro Spline Showcase - 3D Interactive Scenes" />
		<meta property="og:description" content="Explore a showcase of interactive 3D scenes created with Astro and Spline. Immerse yourself in a smooth, animated user experience with dynamic visual effects." />
		<meta property="og:url" content="https://astr-ospline.vercel.app/" />
		<meta property="og:type" content="website" />

		<!-- Canonical link for SEO -->
		<link rel="canonical" href="https://astr-ospline.vercel.app/" />
		<script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.51/build/spline-viewer.js"></script>
		<script type="module">
			document.addEventListener('DOMContentLoaded', () => {
				const splineViewers = document.querySelectorAll('spline-viewer');
				splineViewers.forEach(splineViewer => {
					const logo = splineViewer.shadowRoot.querySelector('#logo');
					if (!logo) return;
					logo.remove();
				});
			});
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100vh;
		background: linear-gradient(-45deg, #111111, #222222, #0c0a09, #0f172a);
	    background-size: 400% 400%;
	    animation: gradient 15s ease infinite;
	    height: 100vh;
	}
	@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
	:root {
		--animate-delay: 1s; ;
	}
</style>
