---
/* These headers in Astro are executed "server-side" (at build time) */
import BaseLayout from '../layouts/Layout.astro';
import { HappyBroadcast }from '../components/happy-broadcast'
import { Calendar }from '../components/calendar'
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
import happyBroadcastLogo from '../../assets/happy-broadcast-logo.png';
---
<BaseLayout>
  <div class="h-full flex flex-col items-center justify-center overflow-auto xl:overflow-hidden">
    <div class="m-auto grid gap-4 grid-cols-2 auto-rows-[15vh] sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-12 sm:pl-4 sm:pr-4 sm:pt-4 xl:pt-0 w-full">
      <Card
          colSpan="col-span-3"
          rowSpan="row-span-6"
          bgColor="bg-purple"
      >
        <HappyBroadcast client:only="react" />
      </Card>

      <Card
        colSpan="col-span-9"
        rowSpan="row-span-2" 
        bgColor="bg-yellow"
      >

      </Card>

      <Image src={happyBroadcastLogo} alt="The Happy Broadcast logo" className="col-span-3 row-span-2 h-full w-auto mx-auto"/>

      <Card
        colSpan="col-span-6"
        rowSpan="row-span-2"
        bgColor="bg-green"
      />

      <Card
        colSpan="col-span-9"
        rowSpan="row-span-2"
        bgColor="bg-blue"
      >
        <Calendar client:only="react" />
      </Card>
    </div>
  </div>
</BaseLayout>
