---
/* These headers in Astro are executed "server-side" (at build time) */
import BaseLayout from '../layouts/Layout.astro';
import { HappyBroadcast }from '../components/happy-broadcast'
import { Calendar }from '../components/calendar'
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
import kunlaboraLogo from '../assets/kunlabora_logo_white.png';
---
<BaseLayout>
  <div class="h-full w-full p-5 flex flex-col items-center justify-center overflow-hidden">
    <div class="h-full w-full grid gap-5 grid-rows-3 grid-cols-4">
      <Card
          colSpan="col-span-1"
          rowSpan="row-span-3"
          bgColor="bg-purple"
      >
        <HappyBroadcast client:only="react" />
      </Card>

      <Card
        colSpan="col-span-3"
        rowSpan="row-span-1"
        bgColor="bg-yellow"
      >

      </Card>

      <Image src={kunlaboraLogo} alt="The Happy Broadcast logo" className="col-span-1 row-span-1 h-full w-auto mx-auto"/>

      <Card
        colSpan="col-span-2"
        rowSpan="row-span-1"
        bgColor="bg-green"
      />

      <Card
        colSpan="col-span-3"
        rowSpan="row-span-1"
        bgColor="bg-blue"
      >
        <Calendar client:only="react" />
      </Card>
    </div>
  </div>
</BaseLayout>
