---
export interface CardProps {
    animate: string;
    colSpan?: string;
    rowSpan?: string;
    bgColor?:string;
  }
  const { colSpan = 'col-span-6', rowSpan = 'row-span-1', animate, bgColor="white" } = Astro.props;
---
<div class={` shadow-xl ${bgColor} rounded-3xl p-2 ${colSpan} ${rowSpan} ${animate} `}>
    <slot />
</div>
